body {
  background: #eee;
  font-family: monospace;
  font-size: 20px;
}

#container {
  position: absolute;
  top: 20%;
  left: 10%;
  bottom: 20%;
  right: 10%;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

@import './colorpicker';
